html{
    height:100%;
}
body{  
height:100%;
background:-webkit-linear-gradient(#141e30,#243b55);
background-position:;
}
p{
    background:-webkit-linear-gradient(#6C724C, #5974B7);
    font-family:Kalam;
    font-size:20px;
}
input[type=number]{
    font-style:italic ;
    font-family:Cookie;
    font-size:20px;
    border-radius:10px;
    width:200px;
}